
/* general rules */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: 'Roboto', sans-serif;
font-size: 16px;
/*in qust md il testo presente nel body erediterà qst colore*/
color: gray;
}

/* Typography */
h2 {
margin-bottom: 15px;
font-size: 180%;
color: #000;
}

h2.big {
font-size: 220%;
}

/* Utilities */
.container {
width: 1200px;
margin: 0 auto;
}

.btn{
  padding: 5px 10px;
  display: inline-block;/*la proprietà display nn viene ereditata*/
  border-radius: 5px;
  border: 1px solid #fff;
}

.float-left {
  float: left;
}

/* Header */
#main-header {
height: 560px;
/*per prendere il colore andare su ispeziona, element list, scrivere color */
background-color: #0b3259;
background-image: url('./img/background-header.png');
/**/
background-position:110% 110%;
background-size: 1000px;
background-repeat: no-repeat;
}

.clearfix::after {
content: '';
display: table;
clear: both;
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  line-height: 23px;
  }

.btn-blue {
  padding: 5px 30px;
}

  .menu-inline .btn:hover {
    color: white;
   
  }

  .btn-green {
    background-color: #7bbb00;
    border: 0;
    padding: 5px 10px;
  }

.btn-defoult {
  padding: 5px 10px;
}

.btn-large {
  padding: 20px;
}
/*header*/

.header-nav {
height: 80px;
font-size: 80%;
line-height: 80px;
text-transform: uppercase;
}

.header-nav a {
text-decoration: none;
color: #fff;
}

.header-nav a:hover,
.header-nav a:active,/*active: fase in cui tengo cliccato il mouse sull'elemento */
.header-nav a:focus/*focus: dirà che quel link è stato cliccato restando del colore che abb. definito*/ {
color: #e3ba3c;
}

.header-nav .header-logo,
.header-nav .header-nav-center,
.header-nav .header-nav-right {
float: left;
}

.header-nav .header-logo {
width: 15%;
}

.header-nav .header-logo img {
margin-top: 16px;
}

.header-nav .header-nav-center {
width: 45%;
}

.header-nav .header-nav-right {
  width: 40%;
  text-align: right;
  }

/* Menu */
/*list-style può essere applicata oltre che al li 
può essere applicata anche all ul in questo caso verrà ereditata*/
.menu-inline {
list-style: none;
}

.menu-inline li {
display: inline-block;
padding: 0 10px;
}

/* Jumbotron */
.jumbotron {
position: relative;
height: 480px;
}

.jumbotron-text {
position: absolute;
top: 50%;
left: 0;
transform: translateY(-50%);
}

.jumbotron-text h1 {
margin-bottom: 30px;
font-size: 350%;
color: #fff;
}

.w-50 {
  width: 50%;
}

.col-3 {
  float:left;
  width: calc(100% / 3);
  padding: 0 2%;
}

/* Efficency */
#efficency {
padding: 40px 8%;
background: #d3d3d3;
text-align: center;
}

#efficency p {
font-size: 130%;
}

/* Info */
#info {
margin: 0 1%;
padding-top: 40px;
padding-bottom: 40px;
text-align: center;
border-bottom: 1px solid lightgrey;
}

.info-data-img {
height: 150px;
margin-bottom: 20px;
}

.info-data-heading {
position: relative;
padding-bottom: 20px;
margin-bottom: 20px;
color: #7bbb00;
font-size: 180%;
}

.info-data-heading::after {
content: '';
position: absolute;
bottom: 0;
left: 50%;
width: 20%;
height: 1px;
transform: translateX(-50%);
background: gray;
}

.info-data-text {
font-size: 120%;
line-height: 150%;
}

/* Plan */
#plan {
width: 1000px;
margin: 0 auto;
padding: 40px 0;
}
/* #plan div {
padding:70px;
} */
.colonna1 {
padding-right: 50px;
}
.colonna2 {
padding-left: 50px;
}
.colonna2 p {
margin-bottom: 20px;
}


/*footer*/
#structure {
padding-top: 30px;
height: 150px;
background-color: #d3d3d3;
}
.select {
display: inline-block;
margin-right: 20px;
}
.icon {
border-bottom: 1px solid black;
}
.fa-sort-down {
display: inline-block;
margin-left: 20px;
}
#structure a {
text-decoration: none;
color: white;
background: #7bbb00;
margin-left: 180px;
padding: 16px;
border-radius: 10px;
}

/* Help */
#help {
bottom: 0;
right: 15%;
}
#help a {
display: inline-block;
padding: 10px;
background: #7bbb00;
color: #fff;
text-decoration: none;
text-transform: uppercase;
border-radius: 5px 5px 0 0;
}
